<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="body">
    
    <div class="img"><br>
        <div class="row">
            <div class="col-3">
                <img class="card-img-top" src="./assets/images/{{travel.imageTitle}}" alt="Card image cap" style="height: 45rem;  margin: 0px 20px;">
            </div>
        </div>
    </div>
    <div class="list-group" style="margin: 30px 0px;">
        <a class="list-group-item list-group-item-action active head">
                <b>รีวิวทั้งหมด</b>
        </a>
        <div *ngFor="let tvn of tv; index as i; first as isFirst">
            <div *ngIf="travel._id == tvn.titleid">
                <a routerLink="/traveldetail/{{tvn._id}}" class="list-group-item list-group-item-action">ตอนที่ {{tvn.tv}} : {{tvn.titletv}}</a>
            </div>
        </div>
    </div>
    
</div>